<div class="flex-row inline-space-around clock-face">
  <h3>{{format-time time.week}}</h3>
  <h2>{{format-time time.day}}</h2>
  <h1>{{time.pomodoro}}</h1>
</div>
{{#if (eq state 'stopped')}}
  {{#default-button data-test-start-button=true 
    onClick=(action "startClock")}}
    START
  {{/default-button}}
{{else if (eq state 'paused')}}
  {{#default-button data-test-resume-button=true 
    onClick=(action "resumeClock")}}
    RESUME
  {{/default-button}}
  {{#default-button data-test-reset-button=true 
    onClick=(action "resetClock")}}
    RESET
  {{/default-button}}
{{else}}
  {{#default-button data-test-pause-button=true
    onClick=(action "pauseClock")}}
    PAUSE
  {{/default-button}}
  {{#default-button data-test-reset-button=true
    onClick=(action "resetClock")}}
    RESET
  {{/default-button}}
{{/if}}
