<div class="flex-row inline-space-between item-row">
  <div class="item-name" {{action "select" data}}>
    {{data.name}}
  </div>
  <div class="flex-row inline-space-between item-controls">
    <div>
      {{link-to "" "tasks.task.edit" data 
        class="icon icon-edit-modify-streamline"}}
      <a {{action "add" data}} class="icon icon-plus"></a>
    </div>
    <div>
      <a {{action "expand"}} class={{expandClass}}></a>
    </div>
  </div>
</div>
<div class="flex-row">
  <ul>
    {{#if showChildren}}
      {{#each data.children as |child|}} 
        {{tree-view-item data=child select=select add=add}}
      {{/each}}
    {{/if}}
  </ul>
</div>
